body {
  text-align: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color:aliceblue;
  justify-content: center;
  justify-content: space-around;
box-sizing: border-box;
align-items: center;
}
